<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>

    <title>Opciones</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <!-- Custom styles for this template -->
    <link href="#" th:href="@{/css/login.css}" rel="stylesheet" />
   

  </head>

  <body>
  	<div class="fondo-principal">
		<div class="principal">
		    <div class="contenedor">
				<div class="caja-opciones">
					<div class="caja-escudo">
			    		<img  width="100%" height="100%" src="image/uniminuto.jpg">
			    	</div>			
	 		      	<div class="boton-opciones">
						<a href="peticiones">	      	
				        <button class="btn btn-lg btn-primary btn-block" type="submit">
				        	<span class="" aria-hidden="true"></span>Generar Petición
				        </button>
				        </a>
			        </div>
			        <div class="boton-opciones">
			        	<a href="forQuejas">
				        <button class="btn btn-lg btn-primary btn-block" type="submit">
				        	<span class="" aria-hidden="true"></span>Generar Queja
				        </button>
				        </a>
			        </div>
			        <div class="boton-opciones">
			        	<a href="formreclamos">
				        <button  class="btn btn-lg btn-primary btn-block" type="submit">
				        	<span class="" aria-hidden="true"></span>Generar Reclamo
				        </button>
				        </a>
			        </div>
				</div>
		    </div> <!-- /container -->
		</div>
	</div>
</body>
</html>