<!DOCTYPE html>
<html layout:decorate="~{layout}" lang="es"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>Formulario Reclamos</title>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<link rel="icon" href="/image/favicon.png" />

	<!-- Bootstrap core CSS -->
  	<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/webjars/open-iconic/font/css/open-iconic-bootstrap.min.css" rel="stylesheet" />
	
	<!-- Custom styles for this template --> 
	<link href="/css/style.css" rel="stylesheet" />
 
		
</head>
<body>
	<header th:replace="fragments/header :: cabeza">
		<div>Header</div>
	</header>
	
	<div class="layout-main">
		<aside>
			<nav th:replace="fragments/menu :: menu">
				<span>Menu</span>
			</nav>
		</aside>
	
	    <section class="layout-content" layout:fragment="cuerpo">
			      <div class="fondo-principal">
					<div class="principal">
				        <div class="contenedor">
				      		<div class="caja-login">
					
				                    
					            <form > <!-- th:action="@{/clientes/addCliente}" th:object="${cliente}" method="get"  -->   
					                <div class="form-row">
					                    
					                    <div class="descQue">
					                        
					                        <textarea class="form-control-areas" rows="10" cols="50" placeholder="Descripción de la Reclamación"></textarea>
<!-- 					                        <input type="text" class="form-control" id="Descripción" placeholder="Descripción de la Reclamación" maxlength="9" -->
<!-- 	                               autofocus="autofocus" required="required"/> th:field="*{nit}" th:value="${nit}"  -->
					                        	
					                        <div class="invalid-feedback">
					
					                        </div>
					                    </div>
					                    
				
					                    <div class="form-group col-md-6">
					                        <label for="estado">Tipo de Documento</label>
					                        <select  class="form-control" > <!--  th:field="*{ciudad}"  -->
					                            <option value="">Selecione...</option>
					                            <option>C.C</option>   <!-- th:value="Abierto"  th:text="Abierto" --> 
					                            <option>T.I</option> <!--  th:value="En espera" th:text="En espera" -->
					                            <option>C.E</option> <!-- th:value="Cerrado" th:text="Cerrado" -->
					                        </select>
					                        <div class="invalid-feedback">
					
					                        </div>
					                    </div>
					                    <div class="form-group col-md-6">
					                        <label for="nombre">Numero de Documento</label>
					                        <input type="text" class="form-control" required="required" /> <!-- th:field="*{razon_social}" th:value="${razon_social}" -->
					                        <div class="invalid-feedback">
					
					                        </div>
					                    </div>
					                    
					                    <div class="form-group col-md-6">
					                        <label for="nombre">Nombre</label>
					                        <input type="text" class="form-control" required="required" /> <!-- th:field="*{razon_social}" th:value="${razon_social}" -->
					                        <div class="invalid-feedback">
					
					                        </div>
					                    </div>
					                    <div class="form-group col-md-6">
					                        <label for="nombre">Apellido</label>
					                        <input type="text" class="form-control" required="required" /> <!-- th:field="*{razon_social}" th:value="${razon_social}" -->
					                        <div class="invalid-feedback">
					
					                        </div>
					                    </div>
					                    
					                    <div class="form-group col-md-6">
					                        <label for="correo1">Correo</label>
					                        <input type="email" class="form-control" id="correo_enc_uno" /> <!-- th:field="*{correo_enc_uno}" th:value="${correo_enc_uno}" -->
					                        <div class="invalid-feedback">
					
					                        </div>
					                    </div>
					                    
					                    <div class="form-group col-md-6">
					                        <label for="nombre">Programa</label>
					                        <input type="text" class="form-control" required="required" /> <!-- th:field="*{razon_social}" th:value="${razon_social}" -->
					                        <div class="invalid-feedback">
					
					                        </div>
					                    </div>
					                    
					                    <div class="form-group col-md-6">
					                        <label for="nombre">N° Telefono Celular</label>
					                        <input type="text" class="form-control" required="required" /> <!-- th:field="*{razon_social}" th:value="${razon_social}" -->
					                        <div class="invalid-feedback">
					
					                        </div>
					                    </div>
					                    
					                    					                    
					                    <div class="form-group col-md-6">
					                        <label for="nombre">Direccion</label>
					                        <input type="text" class="form-control" required="required" /> <!-- th:field="*{razon_social}" th:value="${razon_social}" -->
					                        <div class="invalid-feedback">
					
					                        </div>
					                    </div>
					            
					                 </div>
					                 	                    
				
					                
					              
					      <!--    <input type="hidden" id="id" name="id" value=""/>
					                <button type="submit" class="btn btn-primary btn-sm">Agregar</button> -->
					                  <button class="btn btn-lg btn-primary btn-block" type="submit">
											<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Agregar
										</button>
					            </form>
				            </div>
				        </div>
				    </div>
				  </div>  
			    </section>
	    </div>
	
</body>
</html>		