<!DOCTYPE html>
<html layout:decorate="~{layout}" lang="es"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>Intranet</title>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<link rel="icon" href="/image/favicon.png" />

<!-- Bootstrap core CSS -->
<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="/webjars/open-iconic/font/css/open-iconic-bootstrap.min.css"
	rel="stylesheet" />

<!-- Custom styles for this template -->
<link href="/css/style.css" rel="stylesheet" />




</head>
<body>
	<header th:replace="fragments/header :: cabeza">
		<div>Header</div>
	</header>

	<div class="layout-main">
		<aside>
			<nav th:replace="fragments/menu :: menu">
				<span>Menu</span>
			</nav>
		</aside>

	    <section class="layout-content" layout:fragment="cuerpo">
	
	        <nav class="navbar navbar-expand-md bg-light">
	            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
	                <ul class="navbar-nav mr-auto">
	                    <li class="nav-item active">
	                        <i class="oi oi-caret-right"></i>
	                        <span>Ingresar Contrato</span>
	                    </li>
	                </ul>
	            </div>
	       <!--    <a class="btn btn-primary btn-md" th:href="@{/cargos/listar}" role="button">
	                <span class="oi oi-spreadsheet" title="Cadastro" aria-hidden="true"></span>
	                <span>Listar Contratos</span>
	            </a>-->
	        </nav>
			
	        <div class="container" id="cadastro">
	        	
	        	<div th:replace="fragments/alert"></div>
	           
	            <form action="#" th:action="@{/contratos/addContrato}" th:object="${contratos}" method="get">
	                
	       <!--           <div th:replace="fragments/validacao  :: validacao"></div>  -->
	                <div th:if="${error != null}" class="alert alert-danger" role="alert">Fecha final invalida (Debe ser mayor a la fecha inicial)</div>
	                <div class="form-row">
	                    <div class="form-group col-md-6">
	                        <label for="clientes_nit">Nit</label>
	                        <input type="text" class="form-control" id="clientes_nit" placeholder="Nit" maxlength="9"
	                        		autofocus="autofocus" th:field="*{clientes_nit}" th:value="${clientes_nit}" required="required"/>
	                    </div>
	                    <div class="form-group col-md-6">
	                        <label for="ejecutivo">Ejecutivo</label>
	                        <input type="text" class="form-control" id="ejecutivo" placeholder="Ejecutivo" 
	                        		autofocus="autofocus" th:field="*{ejecutivo}" th:value="${ejecutivo}" required="required"/>
	                    </div>
	                    <div class="form-group col-md-6">
	                        <label for="tipoContrato">Tipo de Contrato</label>
	                        <select id="cargo" class="form-control" th:field="*{tipo_contrato}">
	                            <option value="">Selecione...</option>
	                            <option th:value="Demanda" th:text="Demanda"></option>
	                            <option th:value="Horas" th:text="Horas"></option>
	                            <option th:value="Hosting" th:text="Hosting"></option>
	                            <option th:value="Soporte" th:text="Soporte"></option>
	                        </select>
	                    </div>
	                    <div class="form-group col-md-6">
	                        <label for="horario">Horario</label>
	                        <select id="horario" class="form-control" th:field="*{horario}">
	                            <option value="">Selecione...</option>
	                            <option th:value="7x24" th:text="7x24"></option>
	                            <option th:value="6x8" th:text="6x8"></option>
	                            <option th:value="5x8" th:text="5x8"></option>
	                            <option th:value="5x10" th:text="5x10"></option>
	                        </select>
	          		    </div>
	          		     <div class="form-group col-md-6">
	                        <label for="f_inicio">Fecha Inicio</label>
	                        <input type="date" class="form-control" id="datepicker1" placeholder="FechaInicio" 
	                        		autofocus="autofocus" th:field="*{f_inicio}" th:value="${f_inicio}" required="required"/>
	          		    </div>
	          		     <div class="form-group col-md-6">
	                        <label for="f_final">Fecha Final</label>
	                        <input type="date" class="form-control" id="datepicker2" placeholder="FechaFinal" 
	                        		autofocus="autofocus" th:field="*{f_final}" th:value="${f_final}" 
	                        		required="required"/>
	          		    </div>
<!--  	                       <div class="form-group col-md-6"> -->
<!-- 	                        <label for="dataEntrada">Fecha Inicio</label> -->
<!-- 	                        <input type="date" class="form-control" id="dataEntrada" th:field="*{f_inicio}" -->
<!-- 	                        	   th:classappend="${#fields.hasErrors('dataEntrada')} ? 'is-invalid'" /> -->
<!-- 	                        <div class="invalid-feedback"> -->
<!-- 								<span th:errors="*{dataEntrada}"></span> -->
<!-- 	                        </div> -->
<!-- 	                    </div> -->
<!-- 	                    <div class="form-group col-md-6"> -->
<!-- 	                        <label for="dataSaida">Fecha Final</label> -->
<!-- 	                        <input type="date" class="form-control" id="dataSaida" th:field="*{f_final}" -->
<!-- 	                        	   th:classappend="${#fields.hasErrors('dataSaida')} ? 'is-invalid'" /> -->
<!-- 	                        <div class="invalid-feedback"> -->
<!-- 								<span th:errors="*{dataSaida}"></span> -->
<!-- 	                        </div> -->
<!-- 	                    </div> -->
	                     <div class="form-group col-md-6">
	                        <label for="numVisitas">Número Visitas</label>
	                        <input type="number" class="form-control" id="numVisitas" placeholder="Num Visitas" 
	                        		autofocus="autofocus" th:field="*{num_visitas}" th:value="${num_visitas}" required="required"/>
	                     </div>
	                    
	                    <div class="form-group col-md-6">
	                        <label for="informe">Informe</label>
	                        <select id="cargo" class="form-control" th:field="*{informe}">
	                            <option value="">Selecione...</option>
	                            <option th:value="Si" th:text="Si"></option>
	                            <option th:value="No" th:text="No"></option>
	                        </select>
	                    </div>
	                    
	                     <div class="form-group col-md-6">
	                        <label for="descripcion">Descripcion</label>
	                        <input type="text" class="form-control" id="descripcion" placeholder="Descripcion" 
	                        		autofocus="autofocus" th:field="*{descripcion}" th:value="${descripcion}" required="required"/>
	                    </div>
	                    
	                    <div class="form-group col-md-6">
	                        <label for="nombre_maquina">Nombre de Maquina</label>
	                        <input type="text" class="form-control" id="nombre_maquina" placeholder="Nombre de la maquina" 
	                        		autofocus="autofocus" th:field="*{nombre_maquina}" th:value="${nombre_maquina}" required="required"/>
	                    </div>
	                    
	                    <div class="form-group col-md-6">
	                        <label for="sistema_op">Sistema Operativo</label>
	                        <input type="text" class="form-control" id="sistema_op" placeholder="Sistema Operativo" 
	                        		autofocus="autofocus" th:field="*{sistema_op}" th:value="${sistema_op}" required="required"/>
	                    </div>
	                    
	                    <div class="form-group col-md-6">
	                        <label for="servicio">Servicio</label>
	                        <input type="text" class="form-control" id="servicio" placeholder="Servicio" 
	                        		autofocus="autofocus" th:field="*{servicio}" th:value="${servicio}" required="required"/>
	                    </div>
	                    
	                    <div class="form-group col-md-6">
	                        <label for="observaciones">Observaciones</label>
	                        <input type="text" class="form-control" id="observaciones" placeholder="Observaciones" 
	                        		autofocus="autofocus" th:field="*{observaciones}" th:value="${observaciones}" required="required"/>
	                    </div>
	                    
	                    <div class="form-group col-md-6">
	                        <label for="alcance_servicio">Alcance del Servicio</label>
	                        <input type="text" class="form-control" id="alcance_servicio" placeholder="Alcance del Servicio" 
	                        		autofocus="autofocus" th:field="*{alcance_servicio}" th:value="${alcance_servicio}" required="required"/>
	                    </div>
	                   
	                   </div>
	                
	                <input type="hidden" id="id" th:field="*{id_contrato}"/>
	                <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
	            </form>
	        </div>
	    </section>
	    </div>
</body>
</html>		