<!DOCTYPE html>
<html layout:decorate="~{layout}" lang="es"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>Intranet</title>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<link rel="icon" href="/image/favicon.png" />

<!-- Bootstrap core CSS -->
<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="/webjars/open-iconic/font/css/open-iconic-bootstrap.min.css"
	rel="stylesheet" />

<!-- Custom styles for this template -->
<link href="/css/style.css" rel="stylesheet" />




</head>
<body>
	<header th:replace="fragments/header :: cabeza">
		<div>Header</div>
	</header>

	<div class="layout-main">
		<aside>
			<nav th:replace="fragments/menu :: menu">
				<span>Menu</span>
			</nav>
		</aside>

	    <section class="layout-content" layout:fragment="cuerpo">
	
	        <nav class="navbar navbar-expand-md bg-light">
	            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
	                <ul class="navbar-nav mr-auto">
	                    <li class="nav-item active">
	                        <i class="oi oi-caret-right"></i>
	                        <span>Lista de Contratos</span>
	                    </li>
	                </ul>
	            </div>
	        </nav>
	        
	        <div th:if="${validacion != null}" class="alert alert-info" role="alert">Contrato agregado con exito</div>
	        
	        <div class="container" id="listagem">
	        	
	        	<div class="row">
	                <div class="col">
	                    
	                            <form class="form-inline" method="GET" th:action="@{/contratos/buscar}">
	                                <input class="form-control mr-sm-2" type="search" placeholder="Nit" aria-label="Buscar"
	                                       th:name="clientes_nit"/>
	                                <button class="btn btn-outline-success my-2 my-sm-0">Buscar</button>
	                            </form>

	                </div>
	            </div>
	        
	        	
	            <div class="table-responsive">
	                <table class="table table-striped table-hover table-sm">
	                    <thead>
	                    <tr>
	                    	<th style="text-align: center; padding-bottom: 15px">Acciones</th>
	                    	<th style="text-align: center">Id Contrato</th>
	                        <th style="text-align: center">Nit Cliente</th>
							<th style="text-align: center; padding-bottom: 15px">Ejecutivo</th>
							<th style="text-align: center">Tipo de Contrato</th>
							<th style="text-align: center; padding-bottom: 15px">ANS</th>
							<th style="text-align: center; white-space: nowrap; padding-bottom: 15px">Fecha Inicio</th>
							<th style="text-align: center; white-space: nowrap; padding-bottom: 15px">Fecha Final</th>
							<th style="text-align: center">Num. Visitas</th>
							<th style="text-align: center; padding-bottom: 15px">Informe</th>
							<th style="text-align: center; padding-bottom: 15px">Descripcion</th>
							<th style="text-align: center">Nombre Maquina</th>
							<th style="text-align: center">Sistema Operativo</th>
							<th style="text-align: center; padding-bottom: 15px">Servicio</th>
							<th style="text-align: center; padding-bottom: 15px">Observaciones</th>
							<th style="text-align: center">Alcance Servicio</th>
	                    </tr>
	                    </thead>
	                    <tbody>
		                    <tr th:each="Contratos:${contratos}">
		                    <td>
		                      	<a class="btn btn-info btn-sm" th:href="@{/contratos/contratoEdit?clientes_nit=__${Contratos.clientes_nit}__&amp;id_contrato=__${Contratos.id_contrato}__}" role="button">
		                        	<span class="oi oi-brush" title="Editar" aria-hidden="true"></span>
		                        </a> <a th:href="@{/contratos/removecontrato?clientes_nit=__${Contratos.clientes_nit}__&amp;id_contrato=__${Contratos.id_contrato}__}" role="button">
		                            <button type="button" class="btn btn-danger btn-sm" >
		                                <span class="oi oi-circle-x" title="Eliminar" aria-hidden="true"></span>
		                            </button>
		                        </a>
		                        
		                    </td>
		                    <td style="text-align: center; padding-top: 19px" th:text ="${Contratos.id_contrato}"></td>
							<td style="text-align: center; padding-top: 19px" th:text ="${Contratos.clientes_nit}"></td>
							<td style="text-align: center; padding-top: 19px" th:text ="${Contratos.ejecutivo}"></td>
							<td style="text-align: center; padding-top: 19px" th:text ="${Contratos.tipo_contrato}"></td>
							<td style="text-align: center; padding-top: 19px" th:text ="${Contratos.horario}"></td>
							<td style="text-align: center; padding-top: 19px" th:text ="${Contratos.f_inicio}"></td>
							<td style="text-align: center; padding-top: 19px" th:text ="${Contratos.f_final}"></td>
							<td style="text-align: center; padding-top: 19px" th:text ="${Contratos.num_visitas}"></td>
							<td style="text-align: center; padding-top: 19px" th:text ="${Contratos.informe}"></td>
							<td style="text-align: center; padding-top: 19px" th:text ="${Contratos.descripcion}"></td>
							<td style="text-align: center; padding-top: 19px" th:text ="${Contratos.nombre_maquina}"></td>
							<td style="text-align: center; padding-top: 19px" th:text ="${Contratos.sistema_op}"></td>
							<td style="text-align: center; padding-top: 19px" th:text ="${Contratos.servicio}"></td>
							<td style="text-align: center; padding-top: 19px" th:text ="${Contratos.observaciones}"></td>
							<td style="text-align: center; padding-top: 19px" th:text ="${Contratos.alcance_servicio}"></td>
						    </tr>
	                    </tbody>
	                </table>
	            </div>
	        </div>
	        
	    </section>
</div>
</body>
</html>		